body{
	background:url('/img/bg_body.png');
                      font-family:"Î¢ÈíÑÅºÚ";
}
#warp {
  position: absolute;
  width:763px;
  height:512px;
  left:50%;
  top:50%;
  margin-left:-381px;
  margin-top:-256px;
  background:url('/img/bg.png');
}
.btn1{
	background:url('/img/btn1.png') no-repeat;background-position:center center;height:38px;margin-top:20px;text-align:center;
	font-size:13px;line-height:38px;color:#3c3c3c;
}

.btn2{
	background:url('/img/btn2.png') no-repeat;background-position:center center;height:38px;margin-top:20px;text-align:center;
	font-size:13px;line-height:38px;color:#3c3c3c;
}